<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
</head>

<body>
    <h1>Fire Server</h1>
    <p>endpoints:</p>
    <ul>
        <li><b>/get/image?id=[user_id]</b>: get user image</li>
        <li><b>/post/image</b>: update user image</li>
        <li><b>/show/image</b>: show user image</li>
        <li><b>/post/notification</b>: post notification to fire fighter</li>
        <li><b>/get/notification?id=[user_id]</b>: get user notification list</li>
        <li><b>/done/notification</b>: done notification</li>
    </ul>
</body>

</html>