<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
</head>

<body>
    <h1>SFH Server</h1>
    <p>endpoints:</p>
    <ul>
        <li><b>/get/image</b>: get latest base64 image</li>
        <li><b>/post/image</b>: update base64 image</li>
        <li><b>/show/image</b>: convert and show base64 image</li>
    </ul>
</body>

</html>